/* <----- Header -----> */
/* Remove hamburger toggle */
#courseMenuToggle {
    display: none !important;
}

/* Format breadcrumbs as header */
#breadcrumbs li {
    display: inline-flex !important;
    align-items: center !important;
    font-family: "Gabarito" !important;
    font-size: 32px !important;
    font-weight: bold !important;
    padding-top: 10px !important;
}

/* Allow longer breadcrumbs */
.ellipsible {
    max-width: 300px !important;
}

/* Gradient underline */
.ic-app-nav-toggle-and-crumbs {
    border-radius: 4px !important;
    border-bottom: 4px solid transparent !important;
    background: linear-gradient(white, white) padding-box, var(--silk-gradient) border-box !important;
}

/* <===== Header =====> */


/* <----- Sections Menu -----> */
/* Remove term subtitle */
#section-tabs-header-subtitle {
    display: none !important;
}

/* Hide sections until they are revealed by script */
.section {
    display: none;
}
/* <===== Sections Menu =====> */


/* <----- Assignments, Modules, and Quizzes -----> */
/* List header font */
.element_toggler {
    font-family: "Gabarito" !important;
}

/* Header radius */
.ig-header {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
}

/* Collapsed radius */
.collapsed_module > .ig-header, .ig-header:has(.element_toggler[aria-expanded="false"]) {
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}

/* Last list item radius */
.assignment:last-of-type > div, .quiz:last-of-type > div, .context_module_item:last-of-type > div, .ig-row-empty {
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}

/* Assignments sort buttons */
.Vmatu_blJt {
    font-family: "Gabarito" !important;
    text-decoration: none !important;
}

/* Assignments sort buttons radius */
.Vmatu_cSXm {
    border-radius: 12px !important;
}

/* Hide border on assignments sort buttons */
.Vmatu_cSXm::before {
    border-width: 0px !important;
}

/* Cursor pointer on hover assignment sort buttons */
.Vmatu_bOnW:hover {
    cursor: pointer !important;
}

/* Assignments sort buttons background gradient */
.Vmatu_cjSw.Vmatu_ksNK .Vmatu_cSXm {
    background: var(--silk-gradient) !important;
}

/* Modules completion icons alignment */
.completion_status {
    display: flex !important;
    align-items: center !important;
}
/* <===== Assignments, Modules, and Quizzes =====> */


/* <----- Pages -----> */
/* Pages, course, and grades titles */
.course-title, .page-title, .ic-Action-header__Heading {
    font-family: "Gabarito" !important;
    font-weight: 800 !important;
    color: var(--ic-brand-font-color-dark) !important;
}

/* Pages content block*/
.kl_wrapper {
    border-radius: 16px !important;
    margin-bottom: 16px !important;
}

/* Assignments upload button */
.input-file::file-selector-button {
    cursor: pointer;
    color: #ffffff !important;
    border-radius: 12px !important;
    height: 32px !important;
    width: 96px !important;
    font-family: "Gabarito" !important;
    border: 3px solid transparent !important;
    background: linear-gradient(#252525, #252525) padding-box, var(--silk-gradient) border-box !important;
}
/* <===== Pages =====> */

/* <----- Announcements -----> */

/* Announcements search */
.qBMHb_cSXm {
    border-radius: 12px !important;
}

/* <===== Announcements =====> */


/* <----- Grades -----> */
/* Grades header */
.ic-Action-header__Heading {
    font-size: 36px !important;
}

/* Grades filters spacing */
.bNerA_eFno {
    margin-right: 16px !important;
}

/* Reset grades filter apply button spacing */
.dJCgj_bGBk {
    margin-left: 0px !important;
}
/* <===== Grades =====> */


/* <----- Files -----> */
/* Files search */
.ef-search-form > .Button {
    margin-left: 8px !important;
    border: 1px solid #c7cdd1 !important;
}
/* <===== Files =====> */


/* <----- Discussions List -----> */
/* Discussion list blocks */
.unpinned-discussions-v2__wrapper, .closed-for-comments-discussions-v2__wrapper {
    border: 1px solid #c7cdd1 !important;
    border-radius: 16px !important;
    margin-bottom: 16px !important;
}

/* Discussion listings */
.ic-discussion-row {
    border-radius: 12px !important;
    margin-bottom: 8px !important;
}

/* Discussion buttons */
.fQfxa_caGd.fQfxa_ImeN, [dir="ltr"] .fQfxa_caGd.fQfxa_ImeN, [dir="rtl"] .fQfxa_caGd.fQfxa_ImeN {
    border-radius: 12px !important;
}

/* Discussions and Grades search buttons */
.fQfxa_dqAF.fQfxa_eCSh {
    color: #ffffff !important;
    border: 3px solid transparent !important;
    background: linear-gradient(#252525, #252525) padding-box, var(--silk-gradient) border-box !important;
}

/* Unread badging (discussions/announcements)*/
.ic-unread-badge {
    background: linear-gradient(120deg, rgba(16,177,231,1) 0%, rgba(88,82,163,1) 30%, rgba(183,47,43,1) 60%, rgba(183,47,43,1) 100%) !important;
}
/* <===== Discussions List =====> */


/* <----- Discussions -----> */
/* Header corners */
#discussion-managebar > .headerBar {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
}

/* Topic block bottom corners */
.discussion-entry-reply-area {
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}

/* Reply button radius */
.discussion-reply-action {
    border-radius: 12px !important;
}

/* Reply blocks */
.entry, .discussion_entry {
    border-radius: 16px !important;
}

/* Reset topic block radius */
#discussion_topic {
    border-radius: 0px !important;
}
/* <===== Discussions =====> */


/* <----- Quizzes -----> */
/* Question block */
.display_question {
    border-radius: 16px !important;
}

/* Question block header */
.header {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
}

/* Submit button block */
.form-actions {
    border-radius: 16px !important;
}
/* <===== Quizzes =====> */
