/* <----- Set Page Height -----> */
#application, #wrapper {
    min-height: calc(100vh - 1px) !important;
}
/* <===== Set Page Height =====> */


/* <----- Main Content -----> */
/* Background gradient */
body {
    background: var(--silk-gradient) !important;
    background-attachment: fixed !important;
}

/* Remove menu border */
#menu {
    border-width: 0px !important;
}

/* Remove header */
#dashboard_header_container {
    display: none !important;
}

/* <--- Dashboard View Menu ---> */
/* Menu button */
#DashboardOptionsMenu_Container {
    position: fixed !important;
    bottom: 34px !important;
    left: 34px !important;
    background: #252525 !important;
    border-radius: 50% !important;
    z-index: 110 !important;
    box-shadow: var(--default-box-shadow) !important;
    overflow: hidden !important;
}

/* Button icon */
.cGqzL_bGBk[name="IconMore"] {
    fill: #ffffff !important;
}

/* Menu background */
.dqmEK_caGd {
    border-radius: 16px !important;
    border-width: 0px !important;
    padding: 8px !important;
    background: #ffffff !important;
    box-shadow: var(--default-box-shadow) !important;
}

/* Menu buttons */
.sJGfW_bGBk {
    border-radius: 12px !important;
    margin-bottom: 4px;
}

/* Menu buttons background */
.sJGfW_bGBk.sJGfW_cSen, .sJGfW_bGBk:active, .sJGfW_bGBk:focus, .sJGfW_bGBk:hover, .sJGfW_bGBk[aria-expanded="true"] {
    background: var(--silk-gradient) !important;
}

/* Menu buttons font */
.sJGfW_bGBk, .eoNrR_blJt {
    font-family: "Gabarito" !important;
}

/* Hide menu arrow */
.dqmEK_ftdy {
    display: none !important;
}

/* Remove menu border on click */
.cAqHo_eAjd::before {
    border-width: 0px !important;
}
/* <=== Dashboard View Menu ===> */

/* <--- Cards View */
/* Cards */
.ic-DashboardCard {
    border-radius: 16px !important;
    transition: 0.2s !important;
    font-family: "Gabarito" !important;
    box-shadow: var(--default-box-shadow) !important;
}

/* Scale cards on hover */
.ic-DashboardCard:hover {
    transform: scale(1.05) !important;
}

/* Format card title */
.ic-DashboardCard__header-title {
    font-family: "Gabarito" !important;
    font-size: 28px !important;
}

/* Remove underline from card titles on hover */
.ic-DashboardCard__link {
    text-decoration: none !important;
}

/* Remove card subtitles */
.ic-DashboardCard__header-subtitle {
    display: none !important;
}

/* Resize term subtitle */
.ic-DashboardCard__header-term {
    font-size: 15px !important;
}

/* Rearrange card buttons */
.ic-DashboardCard__action-container {
    justify-content: space-between !important;
}
/* <=== Cards View ===> */

/* <--- Planner View ---> */
/* Planner blocks */
.planner-day, .planner-empty-days {
    padding: 16px !important;
    border-radius: 16px !important;
    box-shadow: var(--default-box-shadow) !important;
}

/* Planner event corners */
.Grouping-styles__overlay {
    border-top-left-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
}

/* Planner title corners */
.Grouping-styles__title {
    border-top-left-radius: 16px !important;
}
/* <=== Planner View ===> */

/* <--- Activity View ---> */
/* Activity block */
#dashboard-activity {
    margin-top: 24px;
    padding: 16px !important;
    border-radius: 16px !important;
    background: #ffffff !important;
    box-shadow: var(--default-box-shadow) !important;
}

/* Activity header */
.recent-activity-header {
    font-family: "Gabarito" !important;
    font-weight: bold !important;
}
/* <=== Activity View ===> */

/* Remove footer */
#footer {
    display: none !important;
}
/* <===== Main Content =====> */


/* <----- Right Sidebar -----> */
/* Sidebar block */
#right-side-wrapper {
    background: #ffffff !important;
    border-radius: 16px !important;
    margin: 24px !important;
    transition: 0.5s !important;
    box-shadow: var(--default-box-shadow) !important;
}

/* Scale sidebar on hover */
#right-side-wrapper:hover {
    transform: scale(1.02) !important;
}

/* Remove extra padding */
.recent_feedback {
    margin-top: 0px !important;
}

/* Style grades button */
a[href="/grades"] {
    color: #ffffff !important;
    border: 3px solid transparent !important;
    background: linear-gradient(#252525, #252525) padding-box, var(--silk-gradient) border-box !important;
}
/* <===== Right Sidebar =====> */
