/* Format breadcrumbs */
#breadcrumbs li {
    display: inline-flex !important;
    align-items: center !important;
    font-family: "Gabarito" !important;
    font-size: 32px !important;
    font-weight: bold !important;
    padding-top: 10px !important;
}

/* Allow longer breadcrumbs */
.ellipsible {
    max-width: 300px !important;
}