/* <----- Variables -----> */
:root {
    --silk-gradient: linear-gradient(120deg, rgba(16,177,231,1) 0%, rgba(88,82,163,1) 50%, rgba(183,47,43,1) 100%);
}
/* <===== Variables =====> */


/* <----- Set Fonts -----> */
/* Main */
body {
    font-family: "Gabarito" !important;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
    font-family: "Gabarito" !important;
}

/* Inputs */
input, button, select, textarea {
    font-family: "Gabarito" !important;
    border-radius: 12px !important;
}
/* <===== Set Fonts =====> */


/* <----- Buttons -----> */
/* General */
.button-sidebar-wide, .Button, .btn, .ui-button {
    border-radius: 12px !important;
    font-family: "Gabarito" !important;
}

/* Primary buttons */
.btn-primary, .Button--primary {
    color: #ffffff !important;
    border: 3px solid transparent !important;
    background: linear-gradient(#252525, #252525) padding-box, var(--silk-gradient) border-box !important;
}
/* <===== Buttons =====> */


/* <----- Header -----> */
/* <--- Header toolbar ---> */
/* Hide original header */
#header {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    width: fit-content !important;
    background: rgba(0, 0, 0, 0) !important;
}

/* Menu */
#menu {
    display: none;
    flex-direction: column !important;
    background: #252525 !important;
    border-radius: 16px !important;
    margin: 24px !important;
    width: fit-content !important;
    padding: 4px !important;
    transition: 0.5s !important;
    box-shadow: var(--default-box-shadow) !important;
    border: 4px solid transparent !important;
    background: linear-gradient(#252525, #252525) padding-box, var(--silk-gradient) border-box !important;
}

/* Scale menu on hover */
#menu:hover {
    transform: scale(1.05) !important;
}

/* Fix border and spacing on menu items */
.ic-app-header__menu-list-link {
    border-radius: 10px !important;
    margin-bottom: 4px !important;
}

/* Menu tooltips */
.menu-item__text {
    font-family: "Gabarito" !important;
    font-size: 16px !important;
    background: #ffffff !important;
    color: #252525 !important;
    margin-left: 8px !important;
    box-shadow: var(--default-box-shadow) !important;
    border-radius: 10px !important;
}

/* Hide tooltip arrow */
.menu-item__text::after {
    display: none !important;
}

/* Remove logo, toggle, and help */
#eesy-tab-custom-inner, #primaryNavToggle, .ic-app-header__logomark-container {
    display: none !important;
}

/* Remove border from avatar */
.ic-avatar {
    border: 0px !important;
}

/* <=== Menu toolbar ===> */

/* <--- Flyouts ---> */
/* Fix flyout spacing */
.tray-with-space-for-global-nav {
    margin-left: 105px !important;
}

/* Remove flyout minimum height */
.fLzZc_caGd, .navigation-tray-container {
    min-height: unset !important;
}

/* Make old flyout transparent */
#nav-tray-portal .fLzZc_bGBk {
    background-color: transparent !important;
    box-shadow: none !important;
    overflow: visible !important;
}

/* New flyout */
.tray-with-space-for-global-nav {
    background-color: #ffffff !important;
    border-radius: 16px !important;
    margin-top: 24px !important;
    box-shadow: var(--default-box-shadow) !important;
    border: 4px solid transparent !important;
    background: linear-gradient(white, white) padding-box, var(--silk-gradient) border-box !important;
}

/* Fix close button spacing */
#nav-tray-portal .ejhDx_bGBk {
    margin-top: 24px !important;
}

/* Remove close button border on click */
.fOyUs_cBHs::before {
    border-style: none !important;
    border-width: 0px !important;
}

/* Flyout fonts */
.fOyUs_bGBk, .enRcg_bGBk {
    font-family: "Gabarito" !important;
}

/* Style profile image */
.fOyUs_ImeN > .elMgC_bGBk {
    width: 100px !important;
    height: 100px !important;
    margin-bottom: 16px !important;
}

/* Style name on profile flyout */
h2.blnAQ_dnfM {
    font-size: 32px !important;
    font-weight: 800 !important;
}
/* <=== Flyouts ===> */
/* <===== Header =====> */


/* <----- Flash Alerts -----> */
/* Fix alignment */
.eMdva_caGd {
    display: flex !important;
    align-items: center !important;
    font-family: "Gabarito" !important;
}
/* <===== Flash Alerts =====> */


/* <----- Content -----> */

/* Make space for new header */
#wrapper {
    margin-left: 90px !important;
}

/* <===== Content =====> */


/* <----- Right Sidebar -----> */
/* Remove TODOs (Dashboard and course home) */
.Sidebar__TodoListContainer {
    display: none !important;
}

/* Style feedback header (Dashboard and course home) */
.shared-space > h2 {
    font-family: "Gabarito" !important;
    font-size: 22px !important;
}
/* <===== Right Sidebar =====> */
