/* Style right pane headers */
.recent_feedback h2, .todo-list-header {
    font-size: 24px !important;
}

/* Remove term subtitle */
#section-tabs-header-subtitle {
    display: none !important;
}

/* Hide sections */
.section {
    display: none;
}

/* Fix alignment of menu icon and breadcrumbs */
#courseMenuToggle {
    margin-bottom: 6px !important;
    box-shadow: none !important;
}

/* Prevent unnecessary breadcrumb wrapping */
#breadcrumbs > ul {
    display: flex !important;
}

/* Fix alignment on breadcrumbs */
#breadcrumbs > ul > li {
    display: flex !important;
    align-items: center !important;
}

/* Allow longer breadcrumbs */
#breadcrumbs .ellipsible, #breadcrumbs .ellipsis {
    font-size: 24px !important;
    font-weight: 700 !important;
    max-width: 300px !important;
}

/* Allow last breadcrumb to be as large as the content */
#breadcrumbs li:last-child, #breadcrumbs li:last-child .ellipsible {
    max-width: unset !important;
}

/* Gradient breadcrumbs underline */
.ic-app-nav-toggle-and-crumbs {
    border-radius: 4px !important;
    border-bottom: 4px solid transparent !important;
    background: linear-gradient(white, white) padding-box, var(--silk-gradient) border-box !important;
    padding-top: 4px !important;
}

/* Set module header border radius */
.item-group-condensed .ig-header {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
}

/* Set transition for modules */
.context_module .ig-header {
    transition: 0.2s !important;
}

/* Set collapsed module header border radius */
.item-group-condensed.collapsed_module .ig-header, .ig-header:has(.element_toggler[aria-expanded="false"]) {
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}

/* Set item list border radius */
.ig-list > li:last-child > div {
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}

/* Hide header outline on focus */
button.element_toggler:focus {
    box-shadow: none !important;
}

/* Assignments sort buttons radius */
.css-1s63gha-radioInput__facade {
    border-radius: 12px !important;
    background: var(--silk-gradient) !important;
    text-decoration: none !important;
}

/* Hide border on assignments sort buttons */
.css-1s63gha-radioInput__facade::before {
    border: none !important;
}

/* Remove underline and show cursor pointer on sort button hover */
.css-1l8k4me-radioInput__label {
    text-decoration: none !important;
    cursor: pointer !important;
}

/* Search button spacing */
.ef-search-form > .Button {
    margin-left: 8px !important;
    border-left: 1px solid #c7cdd1 !important;
}