/* Set grades sort button background */
/* .css-7zwwjz-view--inlineBlock-baseButton {
    background: var(--silk-gradient) !important;
} */

/* Remove blue background from content */
.css-199rk5v-baseButton__content {
    background: var(--silk-gradient) !important;
    border: none !important;
    box-shadow: none !important;
}
