/* Fix content margin */
#wrapper {
    margin-left: 98px !important;
}

/* Stop overflowing height */
#application, #wrapper {
    min-height: unset !important;
}

.css-nq7u71-view--flex-flex.css-nq7u71-view--flex-flex.css-nq7u71-view--flex-flex.css-nq7u71-view--flex-flex.css-nq7u71-view--flex-flex.css-nq7u71-view--flex-flex.css-nq7u71-view--flex-flex.css-nq7u71-view--flex-flex.css-nq7u71-view--flex-flex.css-nq7u71-view--flex-flex {
    height: calc(100vh - 1px) !important;
}
/* Add border to header */
.css-wj8vot-view-flexItem {
    border-left: 1px solid #d1cdc7;
}