/* Adjust heading spacing */
h1, #assignment-student-header-content span[data-testid="title"] {
    margin-top: 24px !important;
    font-size: 30px !important;
    font-weight: 800 !important;
}

/* Style submission type blocks */
.submission-type-icon-contents {
    border-radius: 12px !important;
    border-color: var(--accent-color) !important;
}

/* Style active type block */
.submission-type-icon-contents:has(button[disabled]) {
    background: var(--silk-gradient) !important;
    border-radius: 12px !important;
    border: none !important;
}

/* Fix outline of submission type selectors */
button:has(.submission-type-icon-contents):focus {
    outline-color: var(--accent-color) !important;
}

/* Submission type selectors colors */
.submission-type-icon-contents:not(:has(button[disabled])) *[class$="-inlineSVG-svgIcon"],
.submission-type-icon-contents:not(:has(button[disabled])) *[class$="-text"] {
    color: var(--accent-color) !important;
}

/* Style rubric title */
.rubric_container .rubric_title {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}

/* Style submit and new attempt buttons as primary */
#submit-button > span,
*[data-testid="new-attempt-button"] > span {
    color: var(--foreground-color) !important;
    border: 3px solid transparent !important;
    background: var(--background-gradient) padding-box, var(--silk-gradient) border-box !important;
}

/* Remove top border and round corners for submission boxes */
div[data-testid="assignment-2-student-content-tabs"] div[data-testid="attempt-tab"] > div {
    border: none !important;
    border-radius: 16px !important;
}

/* Remove left border for submission boxes */
div[data-testid="assignment-2-student-content-tabs"] div[data-testid="attempt-tab"] > div > span > span > div {
    border: none !important;
}

/* Set no max-width for file previews */
div[data-testid="assignments_2_submission_preview"] {
    max-width: none !important;
}

/* Round file preview iframe */
div[data-testid="assignments_2_submission_preview"] iframe {
    border-radius: 16px !important;
}

/* TODO: Need to fix rounding and top border */

/* Round corners of tables */
table {
    border-collapse: separate !important;
    border-radius: 16px !important;
    overflow: hidden !important;
    border: 1px solid #e8eaec !important;
}

/* Fix double borders */
table td, table th {
    border-top: 1px solid #e8eaec !important;
    border-left: 1px solid #e8eaec !important;
    border-bottom: none !important;
    border-right: none !important;
}

/* Remove top border from the very first row's cells */
table > :first-child > tr:first-child > th,
table > :first-child > tr:first-child > td {
    border-top: none !important;
}

/* Remove left border from the very first column */
table tr > th:first-child,
table tr > td:first-child {
    border-left: none !important;
}
