/* Style right pane headers */
.recent_feedback h2, .todo-list-header {
    font-size: 24px !important;
}

/* Remove term subtitle */
#section-tabs-header-subtitle {
    display: none !important;
}

/* Hide sections */
.section {
    display: none;
}

/* Fix alignment of menu icon and breadcrumbs */
#courseMenuToggle {
    margin-bottom: 6px !important;
    box-shadow: none !important;
}

/* Prevent unnecessary breadcrumb wrapping */
#breadcrumbs > ul {
    display: flex !important;
}

/* Fix alignment on breadcrumbs */
#breadcrumbs > ul > li {
    display: flex !important;
    align-items: center !important;
}

/* Allow longer breadcrumbs */
#breadcrumbs .ellipsible, #breadcrumbs .ellipsis {
    font-size: 24px !important;
    font-weight: 700 !important;
    max-width: 300px !important;
}

/* Allow last breadcrumb to be as large as the content */
#breadcrumbs li:last-child, #breadcrumbs li:last-child .ellipsible {
    max-width: unset !important;
}

/* Gradient breadcrumbs underline */
.ic-app-nav-toggle-and-crumbs {
    border-radius: 4px !important;
    border-bottom: 4px solid transparent !important;
    background: var(--white-gradient) padding-box, var(--silk-gradient) border-box !important;
    padding-top: 4px !important;
}

/* Set module header border radius */
.item-group-condensed .ig-header {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
}

/* Set transition for modules */
.context_module .ig-header {
    transition: 0.2s !important;
}

/* Set collapsed module header border radius */
.item-group-condensed.collapsed_module .ig-header, .ig-header:has(.element_toggler[aria-expanded="false"]) {
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}

/* Fix border on last module color highlight */
/* TODO Look for a cleaner way to do that */
.context_module_item:last-of-type .ig-row::before {
    height: calc(100% - 5px) !important;
    border-bottom-left-radius: 100% 25% !important;
}

/* Set item list border radius */
.ig-list > li:last-of-type > div {
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}

/* Hide header outline on focus */
button.element_toggler:focus {
    box-shadow: none !important;
}

/* Assignments sort buttons radius */
label[for^="show_by_"] > span[class$="-radioInput__facade"] {
    border-radius: 12px !important;
    background: var(--silk-gradient) !important;
    text-decoration: none !important;
}

/* Hide border on assignments sort buttons */
label[for^="show_by_"] > span[class$="-radioInput__facade"]::before {
    border: none !important;
}

/* Remove underline and show cursor pointer on sort button hover */
label[for^="show_by_"] > span[class$="-radioInput__label"] {
    text-decoration: none !important;
    cursor: pointer !important;
}

/* Search button spacing */
.ef-search-form > .Button {
    margin-left: 8px !important;
    border-left: 1px solid #c7cdd1 !important;
}

/* Adjust header styles */
h1 {
    font-size: 30px !important;
    font-weight: 800 !important;
}

h2 {
    font-weight: 800 !important;
}

/* Fix assignment due date overflow */
span[class$="-view-flexItem"]:has(> div > span[data-testid="assignment-sub-header"])
{
    overflow: visible !important;
}

/* Adjust assignment grade font size */
span[data-testid="grade-display"] {
    font-size: 22px !important;
}

/* Adjust unread badging */
.ic-unread-badge {
    background: var(--silk-gradient-alt) !important;
}

.unread_dot, .new-and-total-badge > .new-items, .nav-badge {
    background: var(--silk-gradient) !important;
}

/* Fix unread badge text color when on the same page */
.list-view a.active .nav-badge {
    color: white !important;
}

/* Use primary button styling for grades sort menu */
#apply_select_menus *[class$="-baseButton__content"] {
    color: var(--foreground-color) !important;
    border: 3px solid transparent !important;
    background: var(--background-gradient) padding-box, var(--silk-gradient) border-box !important;
}

/* Style overall grade */
#student-grades-right-content > .final_grade {
    background: var(--silk-gradient) !important;
    border-radius: 16px !important;
    display: flex !important;
    flex-direction: row-reverse !important;
    align-items: center !important;
    justify-content: space-between !important;
    color: white !important;
    font-size: 0 !important;
    margin-bottom: 24px !important;
    box-shadow: var(--default-box-shadow) !important;
    padding: 8px !important;
}

/* Add padding for box without letter grade */
#student-grades-right-content > .final_grade:not(:has(span.letter_grade)) {
    padding: 12px 16px !important;
}

/* Hide non-grade elements */
#student-grades-right-content > .final_grade > *:not(.grade):not(.letter_grade) {
    display: none !important;
}

/* Make grade bigger */
#student-grades-right-content > .final_grade:has(span.letter_grade) > .grade {
    font-size: 24px !important;
    margin-right: -24px !important;
    max-width: 50% !important;
    text-align: right !important;
}

/* Make letter grade bigger */
#student-grades-right-content > .final_grade:has(span.letter_grade) > .letter_grade {
    font-size: 48px !important;
    margin-left: -24px !important;
}

/* Make grade bigger when letter grade is not present */
#student-grades-right-content > .final_grade:not(:has(span.letter_grade)) > .grade {
    font-size: 36px !important;
}