/* Set reply button border rounding */
.discussion-reply-box {
    border-radius: 12px !important;
}

/* Round top corners of OP */
#discussion-managebar .headerBar {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
}

/* Round bottom corners of OP */
#discussion_topic > div:last-child > div, .discussion-entry-reply-area {
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}

/* Round discussion posts and adjust top spacing */
.discussion-entries .entry,.entry .discussion_entry, .css-h20mns-view--flex-flex .css-1vqfmz1-view {
    border-radius: 16px !important;
    padding-top: 0px !important;
}

/* Adjust discussion header */
h1 {
    font-size: 26px !important;
    font-weight: 800 !important;
}

/* Discussion list blocks */
.pinned-discussions-v2__wrapper, .unpinned-discussions-v2__wrapper, .closed-for-comments-discussions-v2__wrapper {
    border: 1px solid #c7cdd1 !important;
    border-radius: 16px !important;
    margin-bottom: 16px !important;
}

/* Discussion listings */
.ic-discussion-row {
    border-radius: 12px !important;
    margin-bottom: 8px !important;
    box-shadow: none !important;
    border: 1px solid #c7cdd1 !important;
}

/* Create discussions button */
.css-199rk5v-baseButton__content {
    border: 3px solid transparent !important;
    background: linear-gradient(var(--background-color), var(--background-color)) padding-box, var(--silk-gradient) border-box !important;
    margin-right: 8px !important;
}

/* Replace unread indicator background */
.discussion-read-state {
    background: var(--silk-gradient);
}

/* Adjust author spacing */
.discussion-header__metadata {
    margin-left: 4px !important;
}

/* Adjust author name size */
.discussion-header__metadata .author {
    font-size: 16px !important;
}

/* Adjust entry spacing */
.discussion-section {
    padding: 0px 10px 3px !important;
}

.pad-box-mini {
    padding: 7px !important;
}

/* Adjust reply spacing */
.replies .entry-content {
    padding-top: 16px !important;
}