/* Fix content margin */
#wrapper {
    margin-left: 98px !important;
}

/* Stop overflowing height */
#application, #wrapper {
    min-height: unset !important;
}

/* Add border to header */
#content > div > div > span:not(:last-of-type) {
    border-left: 1px solid #d1cdc7;
}