:root {
    --background-color: #151515;
    --foreground-color: #ffffff;
    --accent-color: #1F6199;
    --silk-gradient: linear-gradient(120deg, #10B1E7 0%, #5852A3 50%, #B72F2B 100%);
    --silk-gradient-alt: linear-gradient(155deg, #10B1E7 0%, #5852A3 30%, #B72F2B 60%, #B72F2B 100%);
    --background-gradient: linear-gradient(var(--background-color), var(--background-color));
    --white-gradient: linear-gradient(white, white);
    --default-box-shadow: 4px 8px 12px 0 rgba(0,0,0,.32);
}

/* Set default navigation icon color */
:root {
    --ic-brand-primary: var(--accent-color) !important;
    --ic-link-color: var(--accent-color) !important;
    --ic-link-color-darkened-10: var(--accent-color) !important;
    --ic-link-color-lightened-10: var(--accent-color) !important;
    --ic-brand-global-nav-ic-icon-svg-fill: var(--foreground-color) !important;
}

/* Set fonts */
body, body *:not(code, code *, i, i *, kbd, kbd *, pre, pre *, samp, samp *, var, var *) {
    font-family: Gabarito !important;
}

/* Style primary buttons */
/* TODO Style missing primary buttons (submit, reply, compose, etc) */
.btn-primary,
.Button--primary,
.Button--success,
.btn-success {
    color: var(--foreground-color) !important;
    border: 3px solid transparent !important;
    background: var(--background-gradient) padding-box, var(--silk-gradient) border-box !important;
}

/* Round input edges */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
*[class$="-textInput__facade"],
[class*='button'],
[class*='Button'],
[class*='btn'],
.uneditable-input {
    border-radius: 12px !important;
}

/* Round input outline edges */
*[class$="-baseButton"]::before,
*[class$="-textInput__facade"]::before,
*[class$="-textArea__outline"] {
    border-radius: 15px !important;
    border-color: var(--accent-color) !important;
}

/* Remove focus outlines from some buttons */
*[class$="-baseButton"]:focus {
    outline: none !important;
}

/* Round dropdown boxes and float them */
*[data-position-content^="Popover"]:not(:has(ul[id^="address-book-"])) {
    margin-top: 6px !important;
    border-radius: 16px !important;
}

/* Round and pad dropdown boxes */
*[data-position-content^="Popover"]:not(:has(ul[id^="address-book-"])) > span > span[class$="-view--block"] {
    border-radius: 16px !important;
    padding: 6px !important;
}

/* Space dropdown lists better */
*[data-position-content^="Popover"]:not(:has(ul[id^="address-book-"])) ul {
    display: flex !important;
    flex-direction: column !important;
    gap: 6px !important;
}

/* Round dropdown items and add border */
*[data-position-content^="Popover"]:not(:has(ul[id^="address-book-"])) ul li {
    border: 1px solid #c7cdd1 !important;
    border-radius: 12px !important;
}

/* Shadow gradient on active selection unless hovered */
*[data-position-content^="Popover"]:not(:has(ul[id^="address-book-"])) ul li > span[aria-selected="true"]:not(:hover) {
    border-radius: 12px !important;
    background: rgba(0, 0, 0, 0.25);
    color: white;
}

/* Highlight active selection */
*[data-position-content^="Popover"]:not(:has(ul[id^="address-book-"])) ul li:has(span[aria-selected="true"]) {
    background: var(--silk-gradient-alt);
    color: white;
}

/* Give default background to unselected dropdown items */
*[data-position-content^="Popover"]:not(:has(ul[id^="address-book-"])) ul li:has(span[aria-selected="false"]) {
    background: white;
    color: black;
}

/* Highlight hovered dropdown item but not hovered category */
*[data-position-content^="Popover"]:not(:has(ul[id^="address-book-"])) li:not(:has(*[class$="-options__label"])):hover {
    background: var(--silk-gradient-alt) !important;
    color: white !important;
}

/* Remove category separator lines */
*[data-position-content^="Popover"]:not(:has(ul[id^="address-book-"])) li:has(*[class$="-separator"]) {
    display: none !important;
}

/* Add padding to nested lists */
*[data-position-content^="Popover"]:not(:has(ul[id^="address-book-"])) ul[class$="-view--block-options__list"]:not([id]) {
    padding: 6px !important;
    border-radius: 12px !important;
}

/* Unset max-width for wrapper */
#max-width {
    max-width: unset !important;
}

/* Give more room for floating nav */
body:not(.no-headers) .ic-Layout-wrapper {
    margin-left: 80px !important;
}

/* Hide nav background */
.ic-app-header {
    background-color: transparent !important;
    padding: 16px !important;
    width: unset !important;
    height: fit-content !important;
}

/* Set up floating nav */
#menu {
    border-radius: 16px !important;
    padding: 4px !important;
    background-color: var(--background-color) !important;
    display: none;
    flex-direction: column !important;
    gap: 4px !important;
    box-shadow: var(--default-box-shadow) !important;
    border: 4px solid transparent !important;
    background: var(--background-gradient) padding-box, var(--silk-gradient) border-box !important;
    transition: 0.3s;
}

#menu:hover {
    transform: scale(1.02) !important;
}

/* Round nav items */
.ic-app-header__menu-list-item > a {
    border-radius: 12px !important;
}

/* Remove border from avatar and adjust size */
.ic-avatar {
    border: 0px !important;
    height: 32px !important;
    width: 32px !important;
}

/* Remove unnecessary elements from navigation */
#eesy-tab-custom-inner,
#primaryNavToggle,
.ic-app-header__logomark-container,
.ic-app-header__secondary-navigation {
    display: none !important;
}

/* Adjust menu tooltips */
.menu-item__text {
    font-size: 16px !important;
    background: white !important;
    color: var(--background-color) !important;
    margin-left: 8px !important;
    box-shadow: var(--default-box-shadow) !important;
    border-radius: 12px !important;
}

/* Hide tooltip arrow */
.menu-item__text::after {
    display: none !important;
}

/* Fix flyout spacing */
.tray-with-space-for-global-nav {
    margin-left: 105px !important;
}

/* Allow flyout to shrink */
.fLzZc_caGd, .navigation-tray-container {
    min-height: unset !important;
}

/* Make old flyout transparent */
/* TODO Make this more specific */
#nav-tray-portal > span > span {
    background-color: transparent !important;
    box-shadow: none !important;
    overflow: visible !important;
}

/* Style new flyout */
.tray-with-space-for-global-nav {
    background-color: white !important;
    border-radius: 16px !important;
    margin-top: 16px !important;
    box-shadow: var(--default-box-shadow) !important;
    border: 4px solid transparent !important;
    background: var(--white-gradient) padding-box, var(--silk-gradient) border-box !important;
}

/* Allow flyout scrolling on overflow */
.tray-with-space-for-global-nav > div[class$="-view"] {
    max-height: 90vh !important;
    overflow: scroll !important;
}

/* Hide scrollbars on new flyout */
.tray-with-space-for-global-nav > div[class$="-view"]::-webkit-scrollbar {
    display: none;
}

/* Fix close button spacing */
#nav-tray-portal span[class$="-closeButton"] {
    margin-top: 16px !important;
}

/* Remove focus outline on close buttons */
span[class$="-closeButton"] > button::before {
    border: none !important;
}

/* Style profile image */
.tray-with-space-for-global-nav span[class$="-view--block-avatar"] {
    width: 100px !important;
    height: 100px !important;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

/* Style flyout headers */
.tray-with-space-for-global-nav h2[class$="-view-heading"] {
    font-size: 28px !important;
    font-weight: 800 !important;
}

/* Change color of navigation links */
*[class$="-view-link"] {
    color: var(--accent-color) !important;
}

/* Set outline color of navigation links */
*[class$="-view-link"]:focus {
    outline-color: var(--accent-color) !important;
}

/* Fix alignment of menu icon and breadcrumbs */
#courseMenuToggle {
    margin-bottom: 6px !important;
    box-shadow: none !important;
}

/* Prevent unnecessary breadcrumb wrapping */
#breadcrumbs > ul {
    display: flex !important;
}

/* Fix alignment on breadcrumbs */
#breadcrumbs > ul > li {
    display: flex !important;
    align-items: center !important;
}

/* Allow longer breadcrumbs */
#breadcrumbs .ellipsible, #breadcrumbs .ellipsis {
    font-size: 24px !important;
    font-weight: 700 !important;
    max-width: 300px !important;
}

/* Allow last breadcrumb to be as large as the content */
#breadcrumbs li:last-child, #breadcrumbs li:last-child .ellipsible {
    max-width: unset !important;
}

/* Hide TODOs */
.Sidebar__TodoListContainer {
    display: none;
}

/* Fix TODO link color */
.ToDoSidebarItem__Title > a {
    color: var(--ic-link-color) !important;
}

/* Style flash notifications */
.ic-flash-success, .flashalert-message > div, div.flash-message-container {
    background-color: white !important;
    border-radius: 16px !important;
}

/* Round corner of notification icon */
.ic-flash__icon, .flashalert-message > div > div:first-of-type {
    border-top-left-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
}

/* Set potential flash content to match bubble radius */
.ic-flash__content {
    border-top-right-radius: 14px !important;
    border-bottom-right-radius: 14px !important;
}

/* Fix file preview header height and rounding */
.ef-file-preview-header {
    flex: unset !important;
    height: unset !important;
}

.ef-file-preview-header-filename {
    margin-top: 0px !important;
    border-bottom: 0px !important;
    height: unset !important;
    padding-left: 8px !important;
}

.ef-file-preview-header-buttons {
    border-radius: 0px !important;
    border-bottom: 0px !important;
    height: unset !important;
}

/* Set mask radius on file preview to remove white corners */
span[class$="-mask"]:has(> .ef-file-preview-overlay) {
    border-radius: 0px !important;
}

/* Round corners of file previews */
div.preview_container iframe, #doc_preview iframe {
    border-radius: 16px !important;
}

/* Round text areas */
.tox-edit-area {
    border-radius: 16px !important;
}

/* Round text areas */
.tox-edit-area iframe {
    border-radius: 15px !important;
}

/* Change border color on active text areas */
.tox-edit-area.active {
    border-color: var(--accent-color) !important;
}
