/* Style rubric title */
.rubric_container .rubric_title {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}

/* Style rubric footer */
.rubric-footer {
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

/* Round corners of rubrics */
div.react-rubric > table {
    border-collapse: separate !important;
    border-radius: 12px !important;
    overflow: hidden !important;
    border: 1px solid #e8eaec !important;
}

/* Fix double borders on rubric tables */
div.react-rubric > table td, div.react-rubric > table th {
    border-top: 1px solid #e8eaec !important;
    border-left: 1px solid #e8eaec !important;
    border-bottom: none !important;
    border-right: none !important;
}

/* Remove top border from the first row */
div.react-rubric > table > thead:first-of-type > tr:nth-of-type(2) > th {
/* div.react-rubric > table > thead:first-of-type > tr: > th { */
    border-top: none !important;
}

/* Remove left border from the first column */
div.react-rubric > table tr > th:first-child,
div.react-rubric > table tr > td:first-child {
    border-left: none !important;
}
